.button {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 300px;
  margin: 10px auto;
  padding: 10px 30px;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  border: none;
  color: #fff;
}
.list {
  background-color: rgb(5, 61, 80);
}
.grid {
  background-color: rgb(24, 153, 153);
}
